*, body{

    font-family: Arial, Helvetica, sans-serif;

}





.navbar-fixed{
    position: fixed;
    z-index: 9999;
    background-color: white;
    opacity: 60%;
backdrop-filter: blur(5px) !important;
box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  

    
}


.hamburger-active > span:nth-child(1){
    transform: rotate(45deg);
    /* transform-origin: 4% 40%; */
}
.hamburger-active > span:nth-child(2){
   transform: scale(0);
}



.hamburger-active > span:nth-child(3){
    transform: rotate(-45deg);
    /* transform-origin: 4% 40%; */

    
}

.contact-me{
  width: auto;
  font-weight: 600;
  padding: 10px;
  color: #ffffff;
  border-radius: 15px 50px;
  box-shadow: 2px 2px rgb(230, 21, 21);
  background-color: rgb(248 113 113);
  
}
.rectangle-underline{
  margin: auto;
  width: 50px;
  height: 5px;
  background-color:rgb(248 113 113) ;
  text-align: center;
  border-radius: 100px;
}
.spacing{
  letter-spacing: 1px;
}




swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }